.h5.text-center 2020
%p
  This year I'm trying something a little different by setting quarterly goals.
%br
- goals2020 = data.goals.select { |goal| goal.year == "2020" }
= partial('partials/goals_table', locals: { goals: goals2020 })
