.h5.text-center 2021
%p
  2020 was quite the year. I'm looking forward to 2021!
%br
- goals2021 = data.goals.select { |goal| goal.year == "2021" }
= partial('partials/goals_table', locals: { goals: goals2021 })
