.section
  #hobbies.row
    .col-10-offset-1
      %hr
    .row.mb-5
      .col-8.offset-2
        %h3
          Hobbies
        %p
          Hobbies can be so vague...I like to think of this section as answers to
          the question of, "what are some things that you would go out of your
          way to do in your free time?". But that's not a cool title so I still
          call these hobbies instead.
        %p
          .row
            .col.col-md-6.col-xs-6
              %p Skydiving
              %p Cars
              %p Computers
              %p Volleyball
              %p Playing the drums
            .col.col-md-6.col-xs-6
              %p Music / speakers
              %p Golf
              %p Board games
              %p Social justice
              %p Hiking
    .row.mb-5
