%nav.navbar.navbar-expand-lg.bg-white.fixed-top.d-md-none
  .navbar-brand
  %button.navbar-toggler{ 'aria-controls' => 'mobileNavBar', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#mobileNavBar', 'data-toggle' => 'collapse', type: 'button' }
    %span.navbar-toggler-icon
  #mobileNavBar.collapse.navbar-collapse
    .navbar-nav
      %a.nav-item.nav-link.rounded.font-weight-bold{ href: '/' } Home
      %a.nav-item.nav-link.rounded.font-weight-bold{ href: '/about' } About
      %a.nav-item.nav-link.rounded.font-weight-bold{ href: '/experience' } Experience
      %a.nav-item.nav-link.rounded.font-weight-bold{ href: '/interests' } Interests
      %a.nav-item.nav-link.rounded.font-weight-bold{ href: '/alex_smith_resume.pdf', target: '_blank' } Resume / CV
