%nav#sidebar.active
  .sidebar-header
    %h3 Hello there, how are you?
  %ul.list-unstyled.components
    %li.active
      %a.dropdown-toggle{ "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu" } About
      %ul#homeSubmenu.collapse.list-unstyled
        %li
          %a{ href: '#about' } Summary
        %li
          %a{ href: '#past' } Past
        %li
          %a{ href: '#present' } Present
        %li
          %a{ href: '#future' } Future
    %li
      %a{ href: '#interests' } Interests
    %li
      %a{ href: '/alex_smith_resume.pdf', target: '_blank' } Resume / CV
  %ul.list-unstyled.CTAs
    %li
      %a.contact{ href: 'https://bootstrapious.com/tutorial/files/sidebar.zip' } Contact Me
    %li
      %a.work-with-me{ href: 'https://hirealexsmith.com' } Work With Me
