%nav#sidebar.active
  .sidebar-header
    %h3 Hello there, how are you?
  %ul.list-unstyled.components
    %li.active
      %a.dropdown-toggle{ "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu" } About
      %ul#homeSubmenu.collapse.list-unstyled
        %li
          %a{ href: '#about' } Summary
        %li
          %a{ href: '#past' } Past
        %li
          %a{ href: '#present' } Present
        %li
          %a{ href: '#future' } Future
    %li
      %a{ href: '#interests' } Interests
    %li
      %a{ href: '/alex_smith_resume.pdf', target: '_blank' } Resume / CV
  %ul.list-unstyled.CTAs
    %li
      %a.contact{ href: 'mailto:workwithalexsmith@gmail.com', target: '_blank', "data-tooltip" => "I'll get back to you within 24 hours" } Contact Me
    %li
      %a.work-with-me{ href: 'https://hirealexsmith.com' } Work With Me
  %ul.list-unstyled.social-media-icons.social-media-icon-links.hover-effect.text-center
    %li
      %a{ href: 'https://github.com/atsmith813', target: '_blank', "data-tooltip" => "Check out some code!" }
        %i.fab.fa-github
    %li
      %a{ href: 'https://twitter.com/atsmith813', target: '_blank', "data-tooltip" => "Don't judge me too hard by my liked Tweets..." }
        %i.fab.fa-twitter
    %li
      %a{ href: 'https://www.instagram.com/allthingssmurff/', target: '_blank', "data-tooltip" => "I only have 6 pictures" }
        %i.fab.fa-instagram
    %li
      %a{ href: 'https://www.facebook.com/alex.smiff.7', target: '_blank', "data-tooltip" => "I haven't posted in several years" }
        %i.fab.fa-facebook
    %li
      %a{ href: 'https://dev.to/atsmith813', target: '_blank', "data-tooltip" => "I work here and write articles sometimes!" }
        %i.fab.fa-dev
    %li
      %a{ href: 'https://medium.com/@A_Smith223', target: '_blank', "data-tooltip" => "I've written a few articles" }
        %i.fab.fa-medium
