%nav.navbar.navbar-expand-lg.fixed-top.justify-content-center.px-0.py-3.bg-white.d-none.d-md-flex
  .navbar-nav
    %a.nav-item.nav-link.rounded.font-weight-bold{ href: '/' } Home
    .nav-item.dropdown
      %a#aboutDropdownMenuLink.nav-link.dropdown-toggle.rounded.font-weight-bold{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', href: '/about' } About
      .dropdown-menu{ 'aria-labelledby' => 'aboutDropdownMenuLink' }
        %a.dropdown-item{ href: '/about#past'} Past
        %a.dropdown-item{ href: '/about#present'} Present
        %a.dropdown-item{ href: '/about#future'} Goals
    -#%a.nav-item.nav-link.rounded.font-weight-bold{ href: '/experience' } Experience
    = link_to "Experience", "/experience.html", class: 'nav-item nav-link rounded font-weight-bold'
    .nav-item.dropdown
      %a#interestsDropdownMenuLink.nav-link.dropdown-toggle.rounded.font-weight-bold{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', href: '/interests' } Interests
      .dropdown-menu{ 'aria-labelledby' => 'interestsDropdownMenuLink' }
        %a.dropdown-item{ href: '/interests#hobbies'} Hobbies
        %a.dropdown-item{ href: '/interests#books'} Books
        %a.dropdown-item{ href: '/interests#music'} Music
    %a.nav-item.nav-link.rounded.font-weight-bold{ href: '/alex_smith_resume.pdf', target: '_blank' } Resume / CV
