.section
  .row
    .col-8.offset-2.justify-content-center
      %h3
        Quick timeline of professional experience
      %p
        Clicking on the company titles will take you to the section of my
        story describing the position. You can also check out my resume
        = succeed "." do
          %a{ href: '/alex_smith_resume.pdf', target: '_blank' } here
        = partial 'partials/experience_links'

