.section.banner
  .row
    .col-12.col-md-6.offset-md-3
      .text-center
        = image_tag 'headshot.jpeg', id: 'headshot', class: 'circle-image'
  .row
    .col-12.col-md-6.offset-md-3.text-center
      %h2#intro-text
        I've been called many things...
      %h1#type-text
      %h2#name-text
        But you can call me
      #name.hvr-float-shadow
        Alex

